.loginForm{
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}


.checkbox{
    margin-top: 10px;
}

#submitBtn{
    margin-top: 20px;
    padding: 5px;
    background-color: #228B22;
    color: #D42426;
    border:#D42426 solid 2px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    font-size: 20px;
}

