
.toast-container {
    z-index: 1060;
}


.toast {
    transition: all 0.3s ease-in-out;
    opacity: 0;
    transform: translateX(100%);
}


.toast.show {
    opacity: 1;
    transform: translateX(0);
}


#toast-container {
    z-index: 10000 !important;
}